force-app/main/default/flows/Contract_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>BAC_Confirm_completion_by_Student</name>
        <label>BAC Confirm completion by Student</label>
        <locationX>9554</locationX>
        <locationY>1271</locationY>
        <actionName>Opportunity.Contract_BAC_Confirm_completion_by_Student</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Confirm_Enrolment_Activity_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>BCL_Confirm_completion_by_Student</name>
        <label>BCL Confirm completion by Student</label>
        <locationX>8762</locationX>
        <locationY>1271</locationY>
        <actionName>Opportunity.Contract_BCL_Confirm_completion_by_Student</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Confirm_Enrolment_Activity_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>BCS_Confirm_completion_by_Student</name>
        <label>BCS Confirm completion by Student</label>
        <locationX>8498</locationX>
        <locationY>1271</locationY>
        <actionName>Opportunity.Contract_BCS_Confirm_completion_by_Student</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Confirm_Enrolment_Activity_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>BHO_Confirm_completion_by_Student</name>
        <label>BHO Confirm completion by Student</label>
        <locationX>7970</locationX>
        <locationY>1271</locationY>
        <actionName>Opportunity.Contract_BHO_Confirm_completion_by_Student</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Confirm_Enrolment_Activity_0_0_0_0_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>BOS_Confirm_completion_by_Student</name>
        <label>BOS Confirm completion by Student</label>
        <locationX>8234</locationX>
        <locationY>1271</locationY>
        <actionName>Opportunity.Contract_BOS_Confirm_completion_by_Student</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Confirm_Enrolment_Activity_0_0_0_0_0_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Deposit_Send_NBP</name>
        <label>Deposit Send NBP</label>
        <locationX>4362</locationX>
        <locationY>1151</locationY>
        <actionName>Account.Contract_NBP_Send_Deposit_Email</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Send_Deposit_Activity_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Send from NBP by student</description>
        <name>NBP_Confirmation</name>
        <label>NBP Confirmation by student</label>
        <locationX>7178</locationX>
        <locationY>1271</locationY>
        <actionName>Opportunity.Contract_NBP_Confirm_completion_by_Student</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Confirm_Enrolment_Activity_0_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Deposit_Email_BAC</name>
        <label>Send Deposit Email BAC</label>
        <locationX>6738</locationX>
        <locationY>1151</locationY>
        <actionName>Account.Contract_Send_Deposit_Email_BAC</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Send_Deposit_Activity_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Deposit_Email_BCL</name>
        <label>Send Deposit Email BCL</label>
        <locationX>6210</locationX>
        <locationY>1151</locationY>
        <actionName>Account.Contract_Send_Deposit_Email_BCL</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Send_Deposit_Activity_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>{!$Record.AccountId}</description>
        <name>Send_Deposit_Email_BCS</name>
        <label>Send Deposit Email BCS</label>
        <locationX>5946</locationX>
        <locationY>1151</locationY>
        <actionName>Account.Contract_Send_Deposit_Email_BCS</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Send_Deposit_Activity_0_0_0_0_0_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Deposit_Email_BHO</name>
        <label>Send Deposit Email BHO</label>
        <locationX>5154</locationX>
        <locationY>1151</locationY>
        <actionName>Account.Contract_Send_Deposit_Email_BHO</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Send_Deposit_Activity_0_0_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Deposit_Email_BOS</name>
        <label>Send Deposit Email BOS</label>
        <locationX>5418</locationX>
        <locationY>1151</locationY>
        <actionName>Account.Contract_Send_Deposit_Email_BOS</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Send_Deposit_Activity_0_0_0_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Deposit_Email_SNY</name>
        <label>Send Deposit Email SNY</label>
        <locationX>6474</locationX>
        <locationY>1151</locationY>
        <actionName>Account.Contract_Send_Deposit_Email_SNY</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Send_Deposit_Activity_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Deposit_Email_VIL</name>
        <label>Send Deposit Email VIL</label>
        <locationX>4890</locationX>
        <locationY>1151</locationY>
        <actionName>Account.Contract_Send_Deposit_Email_VIL</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Send_Deposit_Activity_0_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Deposit_Email_WAS</name>
        <label>Send Deposit Email WAS</label>
        <locationX>5682</locationX>
        <locationY>1151</locationY>
        <actionName>Account.Contract_Send_Deposit_Email_WAS</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Send_Deposit_Activity_0_0_0_0_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Deposit_Email_WPS</name>
        <label>Send Deposit Email WPS</label>
        <locationX>4626</locationX>
        <locationY>1151</locationY>
        <actionName>Account.Contract_Send_Deposit_Email_WPS</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Send_Deposit_Activity_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Preenrolment_NBP</name>
        <label>Send Preenrolment NBP</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <actionName>Account.Contracts_Preenrolment_Form_NBP</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>PreEnrollment_Activity_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Preenrolment_VIL</name>
        <label>Send Preenrolment VIL</label>
        <locationX>314</locationX>
        <locationY>815</locationY>
        <actionName>Account.Contracts_Preenrolment_Form_VIL</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>PreEnrollment_Activity_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SNY_Confirm_completion_by_Student</name>
        <label>SNY Confirm completion by Student</label>
        <locationX>9026</locationX>
        <locationY>1271</locationY>
        <actionName>Opportunity.Contract_SNY_Confirm_completion_by_Student</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Confirm_Enrolment_Activity_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>VIL_Confirm_completion_by_Student</name>
        <label>VIL Confirm completion by Student</label>
        <locationX>7706</locationX>
        <locationY>1271</locationY>
        <actionName>Opportunity.Contract_VIL_Confirm_completion_by_Student</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Confirm_Enrolment_Activity_0_0_0_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>WAS_Confirm_completion_by_Student</name>
        <label>WAS Confirm completion by Student</label>
        <locationX>9290</locationX>
        <locationY>1271</locationY>
        <actionName>Opportunity.Contract_WAS_Confirm_completion_by_Student</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Confirm_Enrolment_Activity_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>WPS_Confirmation_Student</name>
        <label>WPS Confirmation Student</label>
        <locationX>7442</locationX>
        <locationY>1271</locationY>
        <actionName>Opportunity.Contract_WPS_Confirm_completion_by_Student</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Confirm_Enrolment_Activity_0_0_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Check_10_pay</name>
        <label>Check 10 pay</label>
        <locationX>5814</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>$Record.X10_Pay_Fee_340__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Pay_Scheme__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PayScheme10Pay</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_School</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Check_1_pay</name>
        <label>Check 1 pay</label>
        <locationX>5286</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>$Record.X1_Pay_Discount_460__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Pay_Scheme__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PayScheme1Pay</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_School</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Check_2_pay</name>
        <label>Check 2 pay</label>
        <locationX>5550</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>$Record.X2_Pay_Standard__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Pay_Scheme__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PayScheme2Pay</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_School</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Confirmation_and_Stage_is_Enrolled_0</name>
        <label>Confirmation Sent, Stage is Enrolled</label>
        <locationX>8498</locationX>
        <locationY>1607</locationY>
        <assignmentItems>
            <assignToReference>$Record.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Enrolled</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Deposit_Confirmation_Sent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Contract_Stage_Approved</name>
        <label>Contract Stage Approved</label>
        <locationX>3834</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>$Record.Contract_Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved, Ready to Send</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Deposit_Sent</name>
        <label>Deposit Sent</label>
        <locationX>5682</locationX>
        <locationY>1487</locationY>
        <assignmentItems>
            <assignToReference>$Record.Deposit_Sent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Confirmation_Email_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Family_Account_forDeposit.Email__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Early_Pay_Discount_Applied_0_0</name>
        <label>Early Pay Discount Applied</label>
        <locationX>9114</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>$Record.Early_Pay_Discount_460__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Family_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>In_Process</name>
        <label>In Process</label>
        <locationX>3306</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>$Record.Contract_Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Process</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Preenrolment_sent_0_0</name>
        <label>Preenrolment sent</label>
        <locationX>1370</locationX>
        <locationY>1151</locationY>
        <assignmentItems>
            <assignToReference>$Record.Preenrolment_Sent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Hold_Reenrolment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Ready_for_Review_0</name>
        <label>Ready for Review</label>
        <locationX>3570</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>$Record.Contract_Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ready for Review</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Uncheck Send Contract and Reset Contract Stage</description>
        <name>Revert</name>
        <label>Revert</label>
        <locationX>4098</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>$Record.Send_Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Contract_Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Adjustments Needed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Approved_by_Regional__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Approved_by_School__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Approved_by_Business_Office__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stage_is_Contract</name>
        <label>Stage is Contract</label>
        <locationX>2866</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>$Record.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Contract</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stage_is_Pre_Enrolment</name>
        <label>Stage is Pre-Enrolment</label>
        <locationX>1238</locationX>
        <locationY>1391</locationY>
        <assignmentItems>
            <assignToReference>$Record.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pre-Enrolment</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
    </assignments>
    <constants>
        <description>10 Pay</description>
        <name>PayScheme10Pay</name>
        <dataType>String</dataType>
        <value>
            <stringValue>10PAY</stringValue>
        </value>
    </constants>
    <constants>
        <description>1 PAY</description>
        <name>PayScheme1Pay</name>
        <dataType>String</dataType>
        <value>
            <stringValue>1PAY</stringValue>
        </value>
    </constants>
    <constants>
        <description>2 PAY</description>
        <name>PayScheme2Pay</name>
        <dataType>String</dataType>
        <value>
            <stringValue>2PAY</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Contract_Triggers</name>
        <label>Contract Triggers</label>
        <locationX>5770</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Update_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Send_Preenrolment_Form</name>
            <conditionLogic>1 AND (2 OR 3) AND 4 AND 5 AND 6 AND 7</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Send_Preenrolment_form__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Enrolment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reenrolment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Applied_Costs__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Apply_Discounts__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Deposit_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Pre_Contract_Updates_Complete__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_School_0</targetReference>
            </connector>
            <label>Send Preenrolment Form</label>
        </rules>
        <rules>
            <name>Ready_for_Contract_Reenrolment</name>
            <conditionLogic>1 AND (2 OR 3) AND 4 AND 5 AND 6 AND 7 AND 8 AND 9</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reenrolment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contract_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open Enrollment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contract_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Process</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Send_Preenrolment_form__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Approved_by_Regional__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Approved_by_School__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Pre_Contract_Updates_Complete__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Applied_Costs__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Approved_by_Business_Office__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Hold_Still</targetReference>
            </connector>
            <label>Ready for Contract - Reenrolment</label>
        </rules>
        <rules>
            <name>Apply_Costs_is_TRUE</name>
            <conditionLogic>1 AND (2 OR 3) AND 4 AND 5 AND 6 AND 7</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Applied_Costs__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Enrolment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reenrolment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Approved_by_Regional__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Approved_by_School__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contract_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open Enrollment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Approved_by_Business_Office__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>In_Process</targetReference>
            </connector>
            <label>Apply Costs is TRUE</label>
        </rules>
        <rules>
            <name>Apply_Discounts_is_TRUE</name>
            <conditionLogic>1 AND 2 AND (3 OR 4) AND (5 OR 6 OR 8) AND 7</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Apply_Discounts__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Applied_Costs__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Enrolment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reenrolment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Approved_by_Regional__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Approved_by_School__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contract_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Process</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Approved_by_Business_Office__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ready_for_Review_0</targetReference>
            </connector>
            <label>Apply Discounts is TRUE</label>
        </rules>
        <rules>
            <name>Approved</name>
            <conditionLogic>(1 OR 2 OR 11) AND (3 OR 4) AND 5 AND 6 AND 7 AND 8 AND ( 9 OR 10)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Approved_by_School__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Approved_by_Regional__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Enrolment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reenrolment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Applied_Costs__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.X1_Pay_Discount_460__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.X2_Pay_Standard__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.X10_Pay_Fee_340__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contract_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready for Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contract_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Process</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Approved_by_Business_Office__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contract_Stage_Approved</targetReference>
            </connector>
            <label>Approved</label>
        </rules>
        <rules>
            <name>Send_Back_After_Costs_and_Discounts</name>
            <conditionLogic>(1 AND 2 AND 3) AND (4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Adjustment_Needed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Apply_Discounts__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Applied_Costs__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Enrolment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reenrolment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Revert</targetReference>
            </connector>
            <label>Send Back After Costs and Discounts</label>
        </rules>
        <rules>
            <name>Signed_Send_Deposit_Form_Link</name>
            <conditionLogic>1 AND (2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contract_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contract Signed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Enrolment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reenrolment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Deposit_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PaymentSelected</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Signed, Send Deposit Form Link</label>
        </rules>
        <rules>
            <name>Payment_Confirmed</name>
            <conditionLogic>(1 OR 2) AND  (3 OR 4) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Deposit_Received__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Deposit Form</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Deposit_Received__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>External Payment Confirmed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reenrolment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Enrolment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Deposit_Confirmation_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Early_Pay_Qualified_0</targetReference>
            </connector>
            <label>Payment Confirmed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Early_Pay_Qualified_0</name>
        <label>Early Pay Qualified?</label>
        <locationX>9246</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Get_Family_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Early_Pay_Discount_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Early_Pay_Discount_Allowed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.X1_Pay_Discount_460__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Early_Pay_Discount_Applied_0_0</targetReference>
            </connector>
            <label>Early Pay Qualified</label>
        </rules>
    </decisions>
    <decisions>
        <name>Hold_Reenrolment</name>
        <label>Hold? Reenrolment</label>
        <locationX>1370</locationX>
        <locationY>1271</locationY>
        <defaultConnector>
            <targetReference>Update_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Hold_or_Leaver</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Hold__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Known_Leaver__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reenrolment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stage_is_Pre_Enrolment</targetReference>
            </connector>
            <label>Not Hold or Leaver</label>
        </rules>
    </decisions>
    <decisions>
        <name>Hold_Still</name>
        <label>Hold Still?</label>
        <locationX>2998</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Update_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Hold_or_Leaver_Still</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Hold__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Known_Leaver__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stage_is_Contract</targetReference>
            </connector>
            <label>Not Hold or Leaver Still</label>
        </rules>
    </decisions>
    <decisions>
        <name>PaymentSelected</name>
        <label>Payment Selected</label>
        <locationX>5682</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Get_School</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Full_Boarding_or_1_pay</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DayOrBoardingSchool__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Full Boarding</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Payment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1 Pay</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_1_pay</targetReference>
            </connector>
            <label>Full Boarding or 1 pay</label>
        </rules>
        <rules>
            <name>X2_pay</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Payment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2 Pay</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_2_pay</targetReference>
            </connector>
            <label>2 pay</label>
        </rules>
        <rules>
            <name>X10_pay</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Payment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>10 Pay</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_10_pay</targetReference>
            </connector>
            <label>10 pay</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Type</name>
        <label>Record Type</label>
        <locationX>9246</locationX>
        <locationY>1031</locationY>
        <defaultConnector>
            <targetReference>Update_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Reenrolment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reenrolment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>School_Code_Deposit_Invitation_0_0</targetReference>
            </connector>
            <label>Reenrolment</label>
        </rules>
    </decisions>
    <decisions>
        <name>School_Code_Deposit_Invitation</name>
        <label>School Code - Deposit Invitation</label>
        <locationX>5682</locationX>
        <locationY>1031</locationY>
        <defaultConnector>
            <targetReference>Deposit_Sent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NBP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_School.SchoolCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NBP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Deposit_Send_NBP</targetReference>
            </connector>
            <label>NBP</label>
        </rules>
        <rules>
            <name>WPS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_School.SchoolCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WPS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Deposit_Email_WPS</targetReference>
            </connector>
            <label>WPS</label>
        </rules>
        <rules>
            <name>VIL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_School.SchoolCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VIL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Deposit_Email_VIL</targetReference>
            </connector>
            <label>VIL</label>
        </rules>
        <rules>
            <name>BHO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_School.SchoolCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BHO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Deposit_Email_BHO</targetReference>
            </connector>
            <label>BHO</label>
        </rules>
        <rules>
            <name>BOS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_School.SchoolCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BOS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Deposit_Email_BOS</targetReference>
            </connector>
            <label>BOS</label>
        </rules>
        <rules>
            <name>WAS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_School.SchoolCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WAS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Deposit_Email_WAS</targetReference>
            </connector>
            <label>WAS</label>
        </rules>
        <rules>
            <name>BCS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_School.SchoolCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BCS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Deposit_Email_BCS</targetReference>
            </connector>
            <label>BCS</label>
        </rules>
        <rules>
            <name>BCL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_School.SchoolCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BCL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Deposit_Email_BCL</targetReference>
            </connector>
            <label>BCL</label>
        </rules>
        <rules>
            <name>SNY</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_School.SchoolCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SNY</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Deposit_Email_SNY</targetReference>
            </connector>
            <label>SNY</label>
        </rules>
        <rules>
            <name>BAC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_School.SchoolCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BAC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Deposit_Email_BAC</targetReference>
            </connector>
            <label>BAC</label>
        </rules>
    </decisions>
    <decisions>
        <name>School_Code_Deposit_Invitation_0_0</name>
        <label>School Code - Confirmation of Enrolment</label>
        <locationX>8498</locationX>
        <locationY>1151</locationY>
        <defaultConnector>
            <targetReference>Confirmation_and_Stage_is_Enrolled_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NBP_0_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_School_Enroll.SchoolCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NBP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NBP_Confirmation</targetReference>
            </connector>
            <label>NBP</label>
        </rules>
        <rules>
            <name>WPS_Confirm</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_School_Enroll.SchoolCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WPS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WPS_Confirmation_Student</targetReference>
            </connector>
            <label>WPS Confirm</label>
        </rules>
        <rules>
            <name>VIL_Confirm</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_School_Enroll.SchoolCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VIL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VIL_Confirm_completion_by_Student</targetReference>
            </connector>
            <label>VIL Confirm</label>
        </rules>
        <rules>
            <name>BHO_Confirm</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_School_Enroll.SchoolCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BHO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BHO_Confirm_completion_by_Student</targetReference>
            </connector>
            <label>BHO Confirm</label>
        </rules>
        <rules>
            <name>BOS_Confirm</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_School_Enroll.SchoolCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BOS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BOS_Confirm_completion_by_Student</targetReference>
            </connector>
            <label>BOS Confirm</label>
        </rules>
        <rules>
            <name>BCS_Confirm</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_School_Enroll.SchoolCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BCS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BCS_Confirm_completion_by_Student</targetReference>
            </connector>
            <label>BCS Confirm</label>
        </rules>
        <rules>
            <name>BCL_Confirm</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_School_Enroll.SchoolCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BCL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BCL_Confirm_completion_by_Student</targetReference>
            </connector>
            <label>BCL Confirm</label>
        </rules>
        <rules>
            <name>SNY_Confirm</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_School_Enroll.SchoolCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SNY</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SNY_Confirm_completion_by_Student</targetReference>
            </connector>
            <label>SNY Confirm</label>
        </rules>
        <rules>
            <name>WAS_Confirm</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_School_Enroll.SchoolCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WAS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WAS_Confirm_completion_by_Student</targetReference>
            </connector>
            <label>WAS Confirm</label>
        </rules>
        <rules>
            <name>BAC_Confirm</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_School_Enroll.SchoolCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BAC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BAC_Confirm_completion_by_Student</targetReference>
            </connector>
            <label>BAC Confirm</label>
        </rules>
    </decisions>
    <decisions>
        <description>Send out the Pre-enrolment form emails with the links</description>
        <name>Send_Pre_Enrolment_form_out</name>
        <label>Send Pre-Enrolment form out</label>
        <locationX>1370</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Preenrolment_sent_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Preenrolement_NBP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_School.SchoolCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NBP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Preenrolment_NBP</targetReference>
            </connector>
            <label>Preenrolement NBP</label>
        </rules>
        <rules>
            <name>Preenrolement_VIL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_School.SchoolCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VIL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Preenrolment_VIL</targetReference>
            </connector>
            <label>Preenrolement VIL</label>
        </rules>
        <rules>
            <name>Preenrolement_WPS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_School.SchoolCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WPS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PreEnrollment_Activity_0_0_0</targetReference>
            </connector>
            <label>Preenrolement WPS</label>
        </rules>
        <rules>
            <name>Preenrolement_WAS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_School.SchoolCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WAS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PreEnrollment_Activity_0_0_0_0</targetReference>
            </connector>
            <label>Preenrolement WAS</label>
        </rules>
        <rules>
            <name>Preenrolement_BCL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_School.SchoolCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BCL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PreEnrollment_Activity_0_0_0_0_0</targetReference>
            </connector>
            <label>Preenrolement BCL</label>
        </rules>
        <rules>
            <name>Preenrolement_BCS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_School.SchoolCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BCS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PreEnrollment_Activity_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Preenrolement BCS</label>
        </rules>
        <rules>
            <name>Preenrolement_BOS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_School.SchoolCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BOS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PreEnrollment_Activity_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Preenrolement BOS</label>
        </rules>
        <rules>
            <name>Preenrolement_BHO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_School.SchoolCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BHO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PreEnrollment_Activity_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Preenrolement BHO</label>
        </rules>
        <rules>
            <name>Preenrolement_SNY</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_School.SchoolCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SNY</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PreEnrollment_Activity_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Preenrolement SNY</label>
        </rules>
        <rules>
            <name>Preenrolement_BAC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_School.SchoolCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BAC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PreEnrollment_Activity_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Preenrolement BAC</label>
        </rules>
    </decisions>
    <description>Contract workflow, field updates, communications. 
Adding in the Pre-Enrolment section</description>
    <formulas>
        <name>TodayDate</name>
        <dataType>Date</dataType>
        <expression>Today()</expression>
    </formulas>
    <interviewLabel>Contract Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contract Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Confirm_Enrolment_Activity_0_0_0</name>
        <label>Confirm Enrolment Activity</label>
        <locationX>7178</locationX>
        <locationY>1391</locationY>
        <connector>
            <targetReference>Confirmation_and_Stage_is_Enrolled_0</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TodayDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Enrolment Confirmation Email Sent</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Confirm_Enrolment_Activity_0_0_0_0</name>
        <label>Confirm Enrolment Activity</label>
        <locationX>7442</locationX>
        <locationY>1391</locationY>
        <connector>
            <targetReference>Confirmation_and_Stage_is_Enrolled_0</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TodayDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Enrolment Confirmation Email Sent</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Confirm_Enrolment_Activity_0_0_0_0_0</name>
        <label>Confirm Enrolment Activity</label>
        <locationX>7706</locationX>
        <locationY>1391</locationY>
        <connector>
            <targetReference>Confirmation_and_Stage_is_Enrolled_0</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TodayDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Enrolment Confirmation Email Sent</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Confirm_Enrolment_Activity_0_0_0_0_0_0</name>
        <label>Confirm Enrolment Activity</label>
        <locationX>7970</locationX>
        <locationY>1391</locationY>
        <connector>
            <targetReference>Confirmation_and_Stage_is_Enrolled_0</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TodayDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Enrolment Confirmation Email Sent</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Confirm_Enrolment_Activity_0_0_0_0_0_0_0</name>
        <label>Confirm Enrolment Activity</label>
        <locationX>8234</locationX>
        <locationY>1391</locationY>
        <connector>
            <targetReference>Confirmation_and_Stage_is_Enrolled_0</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TodayDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Enrolment Confirmation Email Sent</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Confirm_Enrolment_Activity_0_0_0_0_0_0_0_0</name>
        <label>Confirm Enrolment Activity</label>
        <locationX>8498</locationX>
        <locationY>1391</locationY>
        <connector>
            <targetReference>Confirmation_and_Stage_is_Enrolled_0</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TodayDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Enrolment Confirmation Email Sent</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Confirm_Enrolment_Activity_0_0_0_0_0_0_0_0_0</name>
        <label>Confirm Enrolment Activity</label>
        <locationX>8762</locationX>
        <locationY>1391</locationY>
        <connector>
            <targetReference>Confirmation_and_Stage_is_Enrolled_0</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TodayDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Enrolment Confirmation Email Sent</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Confirm_Enrolment_Activity_0_0_0_0_0_0_0_0_0_0</name>
        <label>Confirm Enrolment Activity</label>
        <locationX>9026</locationX>
        <locationY>1391</locationY>
        <connector>
            <targetReference>Confirmation_and_Stage_is_Enrolled_0</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TodayDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Enrolment Confirmation Email Sent</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Confirm_Enrolment_Activity_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Confirm Enrolment Activity</label>
        <locationX>9290</locationX>
        <locationY>1391</locationY>
        <connector>
            <targetReference>Confirmation_and_Stage_is_Enrolled_0</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TodayDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Enrolment Confirmation Email Sent</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Confirm_Enrolment_Activity_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Confirm Enrolment Activity</label>
        <locationX>9554</locationX>
        <locationY>1391</locationY>
        <connector>
            <targetReference>Confirmation_and_Stage_is_Enrolled_0</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TodayDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Enrolment Confirmation Email Sent</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>PreEnrollment_Activity_0</name>
        <label>PreEnrollment Activity</label>
        <locationX>50</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Preenrolment_sent_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TodayDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Preenrollment Form Sent</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>PreEnrollment_Activity_0_0</name>
        <label>PreEnrollment Activity</label>
        <locationX>314</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Preenrolment_sent_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TodayDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Preenrollment Form Sent</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>PreEnrollment_Activity_0_0_0</name>
        <label>PreEnrollment Activity</label>
        <locationX>578</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>Preenrolment_sent_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TodayDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Preenrollment Form Sent</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>PreEnrollment_Activity_0_0_0_0</name>
        <label>PreEnrollment Activity</label>
        <locationX>842</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>Preenrolment_sent_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TodayDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Preenrollment Form Sent</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>PreEnrollment_Activity_0_0_0_0_0</name>
        <label>PreEnrollment Activity</label>
        <locationX>1106</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>Preenrolment_sent_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TodayDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Preenrollment Form Sent</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>PreEnrollment_Activity_0_0_0_0_0_0</name>
        <label>PreEnrollment Activity</label>
        <locationX>1370</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>Preenrolment_sent_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TodayDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Preenrollment Form Sent</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>PreEnrollment_Activity_0_0_0_0_0_0_0</name>
        <label>PreEnrollment Activity</label>
        <locationX>1634</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>Preenrolment_sent_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TodayDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Preenrollment Form Sent</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>PreEnrollment_Activity_0_0_0_0_0_0_0_0</name>
        <label>PreEnrollment Activity</label>
        <locationX>1898</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>Preenrolment_sent_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TodayDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Preenrollment Form Sent</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>PreEnrollment_Activity_0_0_0_0_0_0_0_0_0</name>
        <label>PreEnrollment Activity</label>
        <locationX>2162</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>Preenrolment_sent_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TodayDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Preenrollment Form Sent</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>PreEnrollment_Activity_0_0_0_0_0_0_0_0_0_0</name>
        <label>PreEnrollment Activity</label>
        <locationX>2426</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>Preenrolment_sent_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TodayDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Preenrollment Form Sent</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Send_Deposit_Activity_0</name>
        <label>Send Deposit Activity</label>
        <locationX>4362</locationX>
        <locationY>1271</locationY>
        <connector>
            <targetReference>Deposit_Sent</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TodayDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Deposit Email Sent</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Send_Deposit_Activity_0_0</name>
        <label>Send Deposit Activity</label>
        <locationX>4626</locationX>
        <locationY>1271</locationY>
        <connector>
            <targetReference>Deposit_Sent</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TodayDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Deposit Email Sent</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Send_Deposit_Activity_0_0_0</name>
        <label>Send Deposit Activity</label>
        <locationX>4890</locationX>
        <locationY>1271</locationY>
        <connector>
            <targetReference>Deposit_Sent</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TodayDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Deposit Email Sent</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Send_Deposit_Activity_0_0_0_0</name>
        <label>Send Deposit Activity</label>
        <locationX>5154</locationX>
        <locationY>1271</locationY>
        <connector>
            <targetReference>Deposit_Sent</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TodayDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Deposit Email Sent</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Send_Deposit_Activity_0_0_0_0_0</name>
        <label>Send Deposit Activity</label>
        <locationX>5418</locationX>
        <locationY>1271</locationY>
        <connector>
            <targetReference>Deposit_Sent</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TodayDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Deposit Email Sent</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Send_Deposit_Activity_0_0_0_0_0_0</name>
        <label>Send Deposit Activity</label>
        <locationX>5682</locationX>
        <locationY>1271</locationY>
        <connector>
            <targetReference>Deposit_Sent</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TodayDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Deposit Email Sent</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Send_Deposit_Activity_0_0_0_0_0_0_0</name>
        <label>Send Deposit Activity</label>
        <locationX>5946</locationX>
        <locationY>1271</locationY>
        <connector>
            <targetReference>Deposit_Sent</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TodayDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Deposit Email Sent</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Send_Deposit_Activity_0_0_0_0_0_0_0_0</name>
        <label>Send Deposit Activity</label>
        <locationX>6210</locationX>
        <locationY>1271</locationY>
        <connector>
            <targetReference>Deposit_Sent</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TodayDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Deposit Email Sent</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Send_Deposit_Activity_0_0_0_0_0_0_0_0_0</name>
        <label>Send Deposit Activity</label>
        <locationX>6474</locationX>
        <locationY>1271</locationY>
        <connector>
            <targetReference>Deposit_Sent</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TodayDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Deposit Email Sent</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Send_Deposit_Activity_0_0_0_0_0_0_0_0_0_0</name>
        <label>Send Deposit Activity</label>
        <locationX>6738</locationX>
        <locationY>1271</locationY>
        <connector>
            <targetReference>Deposit_Sent</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TodayDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Deposit Email Sent</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Fam_Account_for_Preenrolment</name>
        <label>Get Fam Account for Preenrolment</label>
        <locationX>1370</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Pre_Enrolment_form_out</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Family_Account</name>
        <label>Get Family Account</label>
        <locationX>9246</locationX>
        <locationY>791</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_School_Enroll</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Family_Account_forDeposit</name>
        <label>Get Fam Account for Deposit</label>
        <locationX>5682</locationX>
        <locationY>911</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>School_Code_Deposit_Invitation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Email__c</queriedFields>
        <sortField>Email__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_School</name>
        <label>Get School</label>
        <locationX>5682</locationX>
        <locationY>791</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Family_Account_forDeposit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SchoolOfInterest__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>School__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_School_0</name>
        <label>Get School</label>
        <locationX>1370</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Fam_Account_for_Preenrolment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SchoolOfInterest__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>School__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_School_Enroll</name>
        <label>Get School (Enroll)</label>
        <locationX>9246</locationX>
        <locationY>911</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SchoolOfInterest__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>School__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>SchoolCode__c</queriedFields>
        <queriedFields>Country__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>5770</locationX>
        <locationY>1919</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>5644</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Contract_Triggers</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Deposit_Send_Flow_Template</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear {!Get_Family_Account.Name},&lt;/p&gt;&lt;p&gt;This is a test email! Test body!&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
</Flow>
