force-app/main/default/flows/ContactSummerCampApplicationEmailAck.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SendEmail</name>
        <label>SendEmail</label>
        <locationX>531</locationX>
        <locationY>580</locationY>
        <actionName>Contact.Con_Summer_Camp_Application_CBS</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>CheckDate</name>
        <label>CheckDate</label>
        <locationX>521</locationX>
        <locationY>401</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isDatetimeFieldChanged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DatetimeValueChanged</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendEmail</targetReference>
            </connector>
            <label>isDatetimeFieldChanged</label>
        </rules>
    </decisions>
    <description>This flow is used to send summer application emails to the primary contact whenever a contact record is created/updated.</description>
    <formulas>
        <description>Determine whether the datetime field is new or has been changed</description>
        <name>DatetimeValueChanged</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW() || (ISCHANGED({!$Record.SummerCampApplicationDate__c}))</expression>
    </formulas>
    <interviewLabel>Contact Summer Camp Application Email Ack {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact: Summer Camp Application Email</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>401</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>CheckDate</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND 4</filterLogic>
        <filters>
            <field>TECH_SchoolCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CBS</stringValue>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>TECH_RecordTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Parent</stringValue>
            </value>
        </filters>
        <filters>
            <field>SummerCampApplicationDate__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
