force-app/main/default/flows/ManualPushFromConEnhanced.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>AssignOppToList</name>
        <label>AssignOppToList</label>
        <locationX>2942</locationX>
        <locationY>649</locationY>
        <assignmentItems>
            <assignToReference>lstOppToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OppToUpdate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOpportunities</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setBlankGender</name>
        <label>setBlankGender</label>
        <locationX>2172</locationX>
        <locationY>1308</locationY>
        <assignmentItems>
            <assignToReference>isBlankGender</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOpportunities</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Case 00002223</description>
        <name>setBlankNatureOfRelationship</name>
        <label>setBlankNatureOfRelationship</label>
        <locationX>1406</locationX>
        <locationY>681</locationY>
        <assignmentItems>
            <assignToReference>RequiredFieldsMissing</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MSG2</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccCon.TECH_RequiredFieldsError__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopInParentContacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setConSchoolNull</name>
        <label>setConSchoolNull</label>
        <locationX>3521</locationX>
        <locationY>403</locationY>
        <assignmentItems>
            <assignToReference>setConSchoolBoolean</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopContacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetDiffMidTier</name>
        <label>SetDiffMidTier</label>
        <locationX>2738</locationX>
        <locationY>1042</locationY>
        <assignmentItems>
            <assignToReference>DifferentMidTierBoolean</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOpportunities</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetDiffMidTier_0</name>
        <label>SetDiffMidTier</label>
        <locationX>3868</locationX>
        <locationY>835</locationY>
        <assignmentItems>
            <assignToReference>DifferentMidTierConAcc</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopContacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetDiffSchoolInterest</name>
        <label>SetDiffSchoolInterest</label>
        <locationX>2247</locationX>
        <locationY>900</locationY>
        <assignmentItems>
            <assignToReference>DifferentSchoolAccOpp</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOpportunities</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetDiffSchoolInterestCon</name>
        <label>SetDiffSchoolInterestCon</label>
        <locationX>3206</locationX>
        <locationY>679</locationY>
        <assignmentItems>
            <assignToReference>DifferentSchoolAccCon</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopContacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setHasFinancialContact</name>
        <label>setHasFinancialContact</label>
        <locationX>1771</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>hasFinancial</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopInParentContacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>set the variable to true if the Gender is incorrect</description>
        <name>setIncorrectValueGender</name>
        <label>setIncorrectValueGender</label>
        <locationX>2640</locationX>
        <locationY>1294</locationY>
        <assignmentItems>
            <assignToReference>isIncorrectValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOpportunities</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setOppFields</name>
        <label>setOppFields</label>
        <locationX>2940</locationX>
        <locationY>831</locationY>
        <assignmentItems>
            <assignToReference>OppToUpdate.TECH_IsSentToMidtier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppToUpdate.TECH_ManualPush__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppToUpdate.TECH_IsamsPushDateTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignOppToList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setOpportunity</name>
        <label>setOpportunity</label>
        <locationX>2781</locationX>
        <locationY>1485</locationY>
        <assignmentItems>
            <assignToReference>OppToUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opp</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>setOppFields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setOppSchoolNull</name>
        <label>setOppSchoolNull</label>
        <locationX>2580</locationX>
        <locationY>569</locationY>
        <assignmentItems>
            <assignToReference>SchoolOppNull</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOpportunities</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>CBS</name>
        <dataType>String</dataType>
        <value>
            <stringValue>CBS</stringValue>
        </value>
    </constants>
    <constants>
        <name>Female</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Female</stringValue>
        </value>
    </constants>
    <constants>
        <description>Julliard Summer Arts record type</description>
        <name>JulliardSummerArts</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Juilliard Summer Arts</stringValue>
        </value>
    </constants>
    <constants>
        <name>Male</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Male</stringValue>
        </value>
    </constants>
    <decisions>
        <name>CheckConSchoolNull</name>
        <label>CheckConSchoolNull</label>
        <locationX>3422</locationX>
        <locationY>513</locationY>
        <defaultConnector>
            <targetReference>CheckSchoolCodeConAcc</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>ConSchoolNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Con.SchoolOfInterest__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setConSchoolNull</targetReference>
            </connector>
            <label>ConSchoolNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkGender</name>
        <label>checkGender</label>
        <locationX>2398</locationX>
        <locationY>1496</locationY>
        <defaultConnector>
            <targetReference>setOpportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>blankGender</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Opp.Child_Gender__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Opp.Child_Gender__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setBlankGender</targetReference>
            </connector>
            <label>blankGender</label>
        </rules>
        <rules>
            <name>incorrectValueGender</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opp.Child_Gender__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Female</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Opp.Child_Gender__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Male</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setIncorrectValueGender</targetReference>
            </connector>
            <label>incorrectValueGender</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkisIsams</name>
        <label>checkisIsams</label>
        <locationX>1201</locationX>
        <locationY>374</locationY>
        <defaultConnector>
            <targetReference>IsamsPushUnavailable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>isIsams</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsamsPush</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getParentContacts</targetReference>
            </connector>
            <label>isIsams</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckMidTierConAcc</name>
        <label>CheckMidTierConAcc</label>
        <locationX>3122</locationX>
        <locationY>919</locationY>
        <defaultConnector>
            <targetReference>SetDiffMidTier_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ConSameMidTierSchool</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Con.MidTierContactID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Con.MidTierContactID__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <elementReference>SchoolCode</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopContacts</targetReference>
            </connector>
            <label>ConSameMidTierSchool</label>
        </rules>
        <rules>
            <name>ConMidTierNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Con.MidTierContactID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopContacts</targetReference>
            </connector>
            <label>ConMidTierNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckMidTierOppAcc</name>
        <label>CheckMidTierOppAcc</label>
        <locationX>2555</locationX>
        <locationY>1037</locationY>
        <defaultConnector>
            <targetReference>SetDiffMidTier</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SameMidTierSchool</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opp.MidTierOpportunityID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Opp.MidTierOpportunityID__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <elementReference>SchoolCode</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>checkSummerCamp</targetReference>
            </connector>
            <label>SameMidTierSchool</label>
        </rules>
        <rules>
            <name>MidTierNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opp.MidTierOpportunityID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>checkSummerCamp</targetReference>
            </connector>
            <label>MidTierNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckOppSchoolNull</name>
        <label>CheckOppSchoolNull</label>
        <locationX>2398</locationX>
        <locationY>604</locationY>
        <defaultConnector>
            <targetReference>CheckSchoolCodeOppAcc</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>OppSchoolNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opp.SchoolOfInterest__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setOppSchoolNull</targetReference>
            </connector>
            <label>OppSchoolNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkSchool_0</name>
        <label>checkSchool</label>
        <locationX>830</locationX>
        <locationY>383</locationY>
        <defaultConnector>
            <targetReference>getSchoolCode</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>hasSchool</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SchoolId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NoSchoolACC</targetReference>
            </connector>
            <label>hasNoSchool</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckSchoolCodeConAcc</name>
        <label>CheckSchoolCodeConAcc</label>
        <locationX>3512</locationX>
        <locationY>689</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SameSchoolCodeCon</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Con.SchoolOfInterest__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Con.SchoolOfInterest__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SchoolId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckMidTierConAcc</targetReference>
            </connector>
            <label>SameSchoolCodeCon</label>
        </rules>
        <rules>
            <name>NotSameSchoolCode_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Con.SchoolOfInterest__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Con.SchoolOfInterest__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>SchoolId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetDiffSchoolInterestCon</targetReference>
            </connector>
            <label>NotSameSchoolCode</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckSchoolCodeOppAcc</name>
        <label>CheckSchoolCodeOppAcc</label>
        <locationX>2478</locationX>
        <locationY>885</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SameSchoolCode</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opp.SchoolOfInterest__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Opp.SchoolOfInterest__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SchoolId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckMidTierOppAcc</targetReference>
            </connector>
            <label>SameSchoolCode</label>
        </rules>
        <rules>
            <name>NotSameSchoolCode</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opp.SchoolOfInterest__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Opp.SchoolOfInterest__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>SchoolId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetDiffSchoolInterest</targetReference>
            </connector>
            <label>NotSameSchoolCode</label>
        </rules>
    </decisions>
    <decisions>
        <description>Case00001908: Check if the School is Beau Soleil, only Summer Camp opportunities should be pushed</description>
        <name>checkSummerCamp</name>
        <label>checkSummerCamp</label>
        <locationX>2405</locationX>
        <locationY>1256</locationY>
        <defaultConnector>
            <targetReference>LoopOpportunities</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isBeauSoleilANDSummerCamp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SchoolCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CBS</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Opp.TECH_RecordTypeName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>JulliardSummerArts</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>checkGender</targetReference>
            </connector>
            <label>isBeauSoleilANDSummerCamp</label>
        </rules>
        <rules>
            <name>isNotSummerCamp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opp.TECH_RecordTypeName__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>JulliardSummerArts</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>checkGender</targetReference>
            </connector>
            <label>isNotSummerCamp</label>
        </rules>
    </decisions>
    <decisions>
        <name>hasBlankGender</name>
        <label>hasBlankGender</label>
        <locationX>5154</locationX>
        <locationY>339</locationY>
        <defaultConnector>
            <targetReference>hasIncorrectGenderValue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>hasBlankGenderValue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isBlankGender</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ChildGenderIsBlank</targetReference>
            </connector>
            <label>hasBlankGenderValue</label>
        </rules>
    </decisions>
    <decisions>
        <name>hasFinancialCon</name>
        <label>hasFinancialCon_requiredFields</label>
        <locationX>1774</locationX>
        <locationY>358</locationY>
        <defaultConnector>
            <targetReference>getOpportunities</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>no_financial_contact_fields</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>hasFinancial</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RequiredFieldsMissing</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ErrScr</targetReference>
            </connector>
            <label>no financial contact &amp; fields</label>
        </rules>
    </decisions>
    <decisions>
        <name>hasIncorrectGenderValue</name>
        <label>hasIncorrectGenderValue</label>
        <locationX>5354</locationX>
        <locationY>345</locationY>
        <defaultConnector>
            <targetReference>updateOpp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>incorrectGenderValue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isIncorrectValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ChildGenderIsIncorrect</targetReference>
            </connector>
            <label>incorrectGenderValue</label>
        </rules>
    </decisions>
    <decisions>
        <name>isDifferentConSchool</name>
        <label>isDifferentConSchool</label>
        <locationX>4466</locationX>
        <locationY>357</locationY>
        <defaultConnector>
            <targetReference>isMidTierDifferentCon</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isDifferent_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DifferentSchoolAccCon</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenDifferentSchool_0_0</targetReference>
            </connector>
            <label>isDifferent</label>
        </rules>
    </decisions>
    <decisions>
        <name>isDifferentSchool</name>
        <label>isDifferentSchool</label>
        <locationX>4052</locationX>
        <locationY>345</locationY>
        <defaultConnector>
            <targetReference>isNullConSchool</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isDifferent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DifferentSchoolAccOpp</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenDifferentSchool</targetReference>
            </connector>
            <label>isDifferent</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsFinancialContact</name>
        <label>IsFinancialContact</label>
        <locationX>1610</locationX>
        <locationY>679</locationY>
        <defaultConnector>
            <targetReference>loopInParentContacts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>hasBlankNatureOfRelationship</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccCon.TECH_checkRequiredFields__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setBlankNatureOfRelationship</targetReference>
            </connector>
            <label>hasBlankNatureOfRelationship</label>
        </rules>
        <rules>
            <name>FinancialContact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccCon.isFinancialContact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setHasFinancialContact</targetReference>
            </connector>
            <label>IsFinancialContact</label>
        </rules>
    </decisions>
    <decisions>
        <name>isMidTierDifferent</name>
        <label>isMidTierDifferent</label>
        <locationX>4976</locationX>
        <locationY>346</locationY>
        <defaultConnector>
            <targetReference>hasBlankGender</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NotStartWithSameCodeMidTierOpp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DifferentMidTierBoolean</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DisplayErrMidTier</targetReference>
            </connector>
            <label>NotStartWithSameCodeMidTierOpp</label>
        </rules>
    </decisions>
    <decisions>
        <name>isMidTierDifferentCon</name>
        <label>isMidTierDifferentCon</label>
        <locationX>4770</locationX>
        <locationY>353</locationY>
        <defaultConnector>
            <targetReference>isMidTierDifferent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NotStartWithSameCodeMidTierCon</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DifferentMidTierConAcc</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DisplayErrMidTier_0</targetReference>
            </connector>
            <label>NotStartWithSameCodeMidTierCon</label>
        </rules>
    </decisions>
    <decisions>
        <name>isNullConSchool</name>
        <label>isNullConSchool</label>
        <locationX>4270</locationX>
        <locationY>352</locationY>
        <defaultConnector>
            <targetReference>isDifferentConSchool</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isSchoolAccNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>setConSchoolBoolean</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenDifferentSchool_0_0_0</targetReference>
            </connector>
            <label>isSchoolAccNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>isNullOppSchool</name>
        <label>isNullOppSchool</label>
        <locationX>3818</locationX>
        <locationY>341</locationY>
        <defaultConnector>
            <targetReference>isDifferentSchool</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isSchoolNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SchoolOppNull</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenDifferentSchool_0</targetReference>
            </connector>
            <label>isSchoolNull</label>
        </rules>
    </decisions>
    <interviewLabel>ManualPushFromConEnhanced {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ManualPushFromConEnhanced</label>
    <loops>
        <name>LoopContacts</name>
        <label>Loop In Contacts</label>
        <locationX>3302</locationX>
        <locationY>327</locationY>
        <assignNextValueToReference>Con</assignNextValueToReference>
        <collectionReference>lstContacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CheckConSchoolNull</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>isNullOppSchool</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopInParentContacts</name>
        <label>loopInParentContacts</label>
        <locationX>1580</locationX>
        <locationY>361</locationY>
        <assignNextValueToReference>AccCon</assignNextValueToReference>
        <collectionReference>lstAccConRel</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>IsFinancialContact</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>hasFinancialCon</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopOpportunities</name>
        <label>Loop In Opportunities</label>
        <locationX>2327</locationX>
        <locationY>347</locationY>
        <assignNextValueToReference>Opp</assignNextValueToReference>
        <collectionReference>lstOpportunies</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CheckOppSchoolNull</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>getContacts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Get AccountID From Opp</description>
        <name>GetCon</name>
        <label>GetCon</label>
        <locationX>481</locationX>
        <locationY>382</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getSchoolIdFromAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>AccountID</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getContacts</name>
        <label>getContacts</label>
        <locationX>2772</locationX>
        <locationY>339</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopContacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>lstContacts</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>SchoolOfInterest__c</queriedFields>
        <queriedFields>MidTierContactID__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getOpportunities</name>
        <label>getOpportunities</label>
        <locationX>2008</locationX>
        <locationY>347</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopOpportunities</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>lstOpportunies</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>TECH_RecordTypeName__c</queriedFields>
        <queriedFields>Child_Gender__c</queriedFields>
        <queriedFields>MidTierOpportunityID__c</queriedFields>
        <queriedFields>SchoolOfInterest__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getParentContacts</name>
        <label>getParentContacts</label>
        <locationX>1428</locationX>
        <locationY>361</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopInParentContacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </filters>
        <object>AccountContactRelation</object>
        <outputReference>lstAccConRel</outputReference>
        <queriedFields>isFinancialContact__c</queriedFields>
        <queriedFields>TECH_checkRequiredFields__c</queriedFields>
        <queriedFields>TECH_ContactRecordtype__c</queriedFields>
        <queriedFields>TECH_RequiredFieldsError__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getSchoolCode</name>
        <label>getSchoolCode</label>
        <locationX>1014</locationX>
        <locationY>371</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkisIsams</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SchoolId</elementReference>
            </value>
        </filters>
        <object>School__c</object>
        <outputAssignments>
            <assignToReference>IsamsPush</assignToReference>
            <field>AvailableForIsamsPush__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SchoolCode</assignToReference>
            <field>SchoolCode__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getSchoolIdFromAccount</name>
        <label>getSchoolIdFromAccount</label>
        <locationX>651</locationX>
        <locationY>382</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkSchool_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>SchoolId</assignToReference>
            <field>SchoolOfInterest__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>updateOpp</name>
        <label>updateOpp</label>
        <locationX>5572</locationX>
        <locationY>341</locationY>
        <connector>
            <targetReference>RecordUpdated</targetReference>
        </connector>
        <faultConnector>
            <targetReference>UnableUpdateRecord</targetReference>
        </faultConnector>
        <inputReference>lstOppToUpdate</inputReference>
    </recordUpdates>
    <screens>
        <name>ChildGenderIsBlank</name>
        <label>ChildGenderIsBlank</label>
        <locationX>5161</locationX>
        <locationY>159</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>txtBlankGender</name>
            <fieldText>&lt;p&gt;One or more of the Child are missing a Gender. Please update this and re-push the record. &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ChildGenderIsIncorrect</name>
        <label>ChildGenderIsIncorrect</label>
        <locationX>5360</locationX>
        <locationY>139</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>IncorrectValueText</name>
            <fieldText>&lt;p&gt;One or more Child have an incorrect Gender value. Please update this to &quot;Male&quot; or &quot;Female&quot; &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;and re-push the record&lt;/span&gt;.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>DisplayErrMidTier</name>
        <label>DisplayErrMidTier</label>
        <locationX>4984</locationX>
        <locationY>190</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>txtErrMidTier</name>
            <fieldText>&lt;p&gt;This Opportunity has already been allocated an ID from a different iSAMS, please raise a case within Salesforce and this will be amended.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>DisplayErrMidTier_0</name>
        <label>DisplayErrMidTier</label>
        <locationX>4776</locationX>
        <locationY>155</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>txtErrMidTier_0</name>
            <fieldText>&lt;p&gt;One or more of your Contact/s have already been allocated an ID from a different iSAMS, please raise a case within Salesforce and this will be amended.&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ErrScr</name>
        <label>ErrScr</label>
        <locationX>1776</locationX>
        <locationY>228</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>errmsg2</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;{!MSG2}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>IsamsPushUnavailable</name>
        <label>IsamsPushUnavailable</label>
        <locationX>1209</locationX>
        <locationY>208</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>txtIsamsUnavailable</name>
            <fieldText>Isams Push Unavailable</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NoSchoolACC</name>
        <label>NoSchoolACC</label>
        <locationX>838</locationX>
        <locationY>215</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>txtSchoolUnavailable_0</name>
            <fieldText>&lt;p&gt;There is no School of Interest related to the Account.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>RecordUpdated</name>
        <label>Record Updated</label>
        <locationX>5764</locationX>
        <locationY>343</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>RecordUpdatedMsg</name>
            <fieldText>Submitted</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ScreenDifferentSchool</name>
        <label>ScreenDifferentSchool</label>
        <locationX>4061</locationX>
        <locationY>181</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>txtDisplError</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;The School of Interest on the Account does not match the School of Interest on the Opportunity. Please update the Account to match the Opportunity.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ScreenDifferentSchool_0</name>
        <label>ScreenDifferentSchool</label>
        <locationX>3831</locationX>
        <locationY>157</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>txtDisplError_0</name>
            <fieldText>&lt;p&gt;Please ensure that the Opportunity has a School of Interest and try again.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ScreenDifferentSchool_0_0</name>
        <label>ScreenDifferentSchool</label>
        <locationX>4467</locationX>
        <locationY>180</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>txtDisplError_0_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;One or more of your Contact/s do not have the same School Of Interest as your Account. Please update and try again.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ScreenDifferentSchool_0_0_0</name>
        <label>ScreenDifferentSchool</label>
        <locationX>4279</locationX>
        <locationY>163</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>txtDisplError_0_0_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Please ensure that the Contact/s related to the Account has a School of Interest and try again.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>UnableUpdateRecord</name>
        <label>Unable to Update Record</label>
        <locationX>5572</locationX>
        <locationY>141</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error</name>
            <fieldText>Update Unsucessful: 
{!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>363</locationY>
        <connector>
            <targetReference>GetCon</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>NewLine</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;br/&gt;</text>
    </textTemplates>
    <variables>
        <name>AccCon</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountContactRelation</objectType>
    </variables>
    <variables>
        <name>AccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Con</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>DifferentMidTierBoolean</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DifferentMidTierConAcc</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DifferentSchoolAccCon</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DifferentSchoolAccOpp</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>hasFinancial</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>IsamsPush</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isBlankGender</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>isIncorrectValue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>IsSentToMidtier</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>lstAccConRel</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountContactRelation</objectType>
    </variables>
    <variables>
        <name>lstContacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>lstOpportunies</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>lstOppToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>ManualPush</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>MSG1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MSG2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>No financial contact found</stringValue>
        </value>
    </variables>
    <variables>
        <name>Opp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>oppName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OppToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RequiredFieldsMissing</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>SchoolCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SchoolId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SchoolOppNull</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>setConSchoolBoolean</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
