force-app/main/default/flows/ManualPushFromCon.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>AssignOppToList</name>
        <label>AssignOppToList</label>
        <locationX>1872</locationX>
        <locationY>389</locationY>
        <assignmentItems>
            <assignToReference>lstOppToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OppToUpdate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOpportunities</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setBlankGender</name>
        <label>setBlankGender</label>
        <locationX>1320</locationX>
        <locationY>538</locationY>
        <assignmentItems>
            <assignToReference>isBlankGender</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOpportunities</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Case 00002223</description>
        <name>setBlankNatureOfRelationship</name>
        <label>setBlankNatureOfRelationship</label>
        <locationX>297</locationX>
        <locationY>526</locationY>
        <assignmentItems>
            <assignToReference>RequiredFieldsMissing</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MSG2</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccCon.TECH_RequiredFieldsError__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopInParentContacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setHasFinancialContact</name>
        <label>setHasFinancialContact</label>
        <locationX>774</locationX>
        <locationY>531</locationY>
        <assignmentItems>
            <assignToReference>hasFinancial</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopInParentContacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>set the variable to true if the Gender is incorrect</description>
        <name>setIncorrectValueGender</name>
        <label>setIncorrectValueGender</label>
        <locationX>1678</locationX>
        <locationY>520</locationY>
        <assignmentItems>
            <assignToReference>isIncorrectValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOpportunities</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setOppFields</name>
        <label>setOppFields</label>
        <locationX>1872</locationX>
        <locationY>558</locationY>
        <assignmentItems>
            <assignToReference>OppToUpdate.TECH_IsSentToMidtier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppToUpdate.TECH_ManualPush__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppToUpdate.TECH_IsamsPushDateTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignOppToList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setOpportunity</name>
        <label>setOpportunity</label>
        <locationX>1872</locationX>
        <locationY>739</locationY>
        <assignmentItems>
            <assignToReference>OppToUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opp</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>setOppFields</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>CBS</name>
        <dataType>String</dataType>
        <value>
            <stringValue>CBS</stringValue>
        </value>
    </constants>
    <constants>
        <name>Female</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Female</stringValue>
        </value>
    </constants>
    <constants>
        <description>Julliard Summer Arts record type</description>
        <name>JulliardSummerArts</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Juilliard Summer Arts</stringValue>
        </value>
    </constants>
    <constants>
        <name>Male</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Male</stringValue>
        </value>
    </constants>
    <decisions>
        <name>checkGender</name>
        <label>checkGender</label>
        <locationX>1515</locationX>
        <locationY>738</locationY>
        <defaultConnector>
            <targetReference>setOpportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>blankGender</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Opp.Child_Gender__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Opp.Child_Gender__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setBlankGender</targetReference>
            </connector>
            <label>blankGender</label>
        </rules>
        <rules>
            <name>incorrectValueGender</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opp.Child_Gender__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Female</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Opp.Child_Gender__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Male</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setIncorrectValueGender</targetReference>
            </connector>
            <label>incorrectValueGender</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkSchool</name>
        <label>checkSchool</label>
        <locationX>1127</locationX>
        <locationY>277</locationY>
        <defaultConnector>
            <targetReference>Isams_push_unavailable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>isIsams</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsamsPush</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getOpportunities</targetReference>
            </connector>
            <label>isIsams</label>
        </rules>
    </decisions>
    <decisions>
        <description>Case00001908: Check if the School is Beau Soleil, only Summer Camp opportunities should be pushed</description>
        <name>checkSummerCamp</name>
        <label>checkSummerCamp</label>
        <locationX>1518</locationX>
        <locationY>543</locationY>
        <defaultConnector>
            <targetReference>LoopOpportunities</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isBeauSoleilANDSummerCamp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SchoolCOde</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CBS</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Opp.TECH_RecordTypeName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>JulliardSummerArts</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>checkGender</targetReference>
            </connector>
            <label>isBeauSoleilANDSummerCamp</label>
        </rules>
        <rules>
            <name>isNotSummerCamp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opp.TECH_RecordTypeName__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>JulliardSummerArts</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>checkGender</targetReference>
            </connector>
            <label>isNotSummerCamp</label>
        </rules>
    </decisions>
    <decisions>
        <name>hasBlankGender</name>
        <label>hasBlankGender</label>
        <locationX>1785</locationX>
        <locationY>265</locationY>
        <defaultConnector>
            <targetReference>hasIncorrectGenderValue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>hasBlankGenderValue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isBlankGender</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ChildGenderIsBlank</targetReference>
            </connector>
            <label>hasBlankGenderValue</label>
        </rules>
    </decisions>
    <decisions>
        <name>hasFinancialCon</name>
        <label>hasFinancialCon</label>
        <locationX>704</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>getSchool</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>ha1FinContact</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>hasFinancial</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RequiredFieldsMissing</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NoFinScreen</targetReference>
            </connector>
            <label>no financial contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>hasIncorrectGenderValue</name>
        <label>hasIncorrectGenderValue</label>
        <locationX>2011</locationX>
        <locationY>262</locationY>
        <defaultConnector>
            <targetReference>updateOpp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>incorrectGenderValue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isIncorrectValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ChildGenderIsIncorrect</targetReference>
            </connector>
            <label>incorrectGenderValue</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsFinancialContact</name>
        <label>IsFinancialContact</label>
        <locationX>484</locationX>
        <locationY>536</locationY>
        <defaultConnector>
            <targetReference>loopInParentContacts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>hasBlankNatureOfRelationship</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccCon.TECH_checkRequiredFields__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setBlankNatureOfRelationship</targetReference>
            </connector>
            <label>hasBlankNatureOfRelationship</label>
        </rules>
        <rules>
            <name>FinancialContact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccCon.isFinancialContact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setHasFinancialContact</targetReference>
            </connector>
            <label>IsFinancialContact</label>
        </rules>
    </decisions>
    <description>With Summer Camp check</description>
    <interviewLabel>ManualPushFromCon {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ManualPushFromCon</label>
    <loops>
        <name>loopInParentContacts</name>
        <label>loopInParentContacts</label>
        <locationX>499</locationX>
        <locationY>288</locationY>
        <assignNextValueToReference>AccCon</assignNextValueToReference>
        <collectionReference>lstAccountConRel</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>IsFinancialContact</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>hasFinancialCon</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopOpportunities</name>
        <label>Loop In Opportunities</label>
        <locationX>1516</locationX>
        <locationY>272</locationY>
        <assignNextValueToReference>Opp</assignNextValueToReference>
        <collectionReference>lstOpportunies</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>checkSummerCamp</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>hasBlankGender</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getAccountId</name>
        <label>getAccountId</label>
        <locationX>170</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getParentContacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>AccountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SchoolId</assignToReference>
            <field>SchoolOfInterest__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getOpportunities</name>
        <label>getOpportunities</label>
        <locationX>1325</locationX>
        <locationY>273</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopOpportunities</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>lstOpportunies</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>TECH_RecordTypeName__c</queriedFields>
        <queriedFields>Child_Gender__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getParentContacts</name>
        <label>getParentContacts</label>
        <locationX>326</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopInParentContacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <object>AccountContactRelation</object>
        <outputReference>lstAccountConRel</outputReference>
        <queriedFields>isFinancialContact__c</queriedFields>
        <queriedFields>TECH_checkRequiredFields__c</queriedFields>
        <queriedFields>TECH_ContactRecordtype__c</queriedFields>
        <queriedFields>TECH_RequiredFieldsError__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getSchool</name>
        <label>getSchool</label>
        <locationX>956</locationX>
        <locationY>275</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkSchool</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SchoolId</elementReference>
            </value>
        </filters>
        <object>School__c</object>
        <outputAssignments>
            <assignToReference>IsamsPush</assignToReference>
            <field>AvailableForIsamsPush__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SchoolCOde</assignToReference>
            <field>SchoolCode__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>updateOpp</name>
        <label>updateOpp</label>
        <locationX>2251</locationX>
        <locationY>254</locationY>
        <connector>
            <targetReference>RecordUpdated</targetReference>
        </connector>
        <faultConnector>
            <targetReference>UnableUpdateRecord</targetReference>
        </faultConnector>
        <inputReference>lstOppToUpdate</inputReference>
    </recordUpdates>
    <screens>
        <name>ChildGenderIsBlank</name>
        <label>ChildGenderIsBlank</label>
        <locationX>1796</locationX>
        <locationY>71</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>txtBlankGender</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;One or more of the Child are missing a Gender. Please update this and re-push the record.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ChildGenderIsIncorrect</name>
        <label>ChildGenderIsIncorrect</label>
        <locationX>2007</locationX>
        <locationY>66</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>IncorrectValueText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;One or more Child have an incorrect Gender value. Please update this to &quot;Male&quot; or &quot;Female&quot; and re-push the record.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Isams_push_unavailable</name>
        <label>Isams push unavailable</label>
        <locationX>1136</locationX>
        <locationY>52</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>txtisamsUnavailable</name>
            <fieldText>Isams push unavailable</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NoFinScreen</name>
        <label>NoFinScreen</label>
        <locationX>713</locationX>
        <locationY>24</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>errMsg2</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;{!MSG2}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>RecordUpdated</name>
        <label>Record Updated</label>
        <locationX>2414</locationX>
        <locationY>254</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>RecordUpdatedMsg</name>
            <fieldText>Submitted.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>UnableUpdateRecord</name>
        <label>Unable to Update Record</label>
        <locationX>2245</locationX>
        <locationY>71</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error</name>
            <fieldText>Update Unsucessful: 
{!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>10</locationX>
        <locationY>288</locationY>
        <connector>
            <targetReference>getAccountId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>NewLine</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;br/&gt;</text>
    </textTemplates>
    <variables>
        <name>AccCon</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountContactRelation</objectType>
    </variables>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>hasFinancial</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>IsamsPush</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isBlankGender</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>isIncorrectValue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>IsSentToMidtier</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>lstAccountConRel</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountContactRelation</objectType>
    </variables>
    <variables>
        <name>lstOpportunies</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>lstOppToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>lstparentContact</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ManualPush</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>MSG1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MSG2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>No financial contact found</stringValue>
        </value>
    </variables>
    <variables>
        <name>Opp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>oppName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OppToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>parentCon</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RequiredFieldsMissing</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>SchoolCOde</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SchoolId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
