force-app/main/default/flows/UpdateOpp.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>assignopptolist</name>
        <label>assignopptolist</label>
        <locationX>2270</locationX>
        <locationY>385</locationY>
        <assignmentItems>
            <assignToReference>lstopptoupdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>oppToUpdate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_in_opp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ReqFieldsMissing</name>
        <label>RequiredFieldsMissing</label>
        <locationX>140</locationX>
        <locationY>944</locationY>
        <assignmentItems>
            <assignToReference>RequiredFieldsMissing</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MSG1</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AccCon.TECH_RequiredFieldsError__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MSG1</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MSG2</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>setBlankGender</name>
        <label>setBlankGender</label>
        <locationX>1649</locationX>
        <locationY>643</locationY>
        <assignmentItems>
            <assignToReference>isBlankGender</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_in_opp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Case 00002223</description>
        <name>setBlankNatureOfRelationship</name>
        <label>setBlankNatureOfRelationship</label>
        <locationX>1038</locationX>
        <locationY>558</locationY>
        <assignmentItems>
            <assignToReference>RequiredFieldsMissing</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MSG2</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccCon.TECH_RequiredFieldsError__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopInParentContacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setHasFinancialContact</name>
        <label>setHasFinancialContact</label>
        <locationX>566</locationX>
        <locationY>553</locationY>
        <assignmentItems>
            <assignToReference>hasFinancial</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopInParentContacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>set the variable to true if the Gender is incorrect</description>
        <name>setIncorrectValueGender</name>
        <label>setIncorrectValueGender</label>
        <locationX>2024</locationX>
        <locationY>436</locationY>
        <assignmentItems>
            <assignToReference>isIncorrectValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_in_opp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setOpp</name>
        <label>setOpp</label>
        <locationX>2220</locationX>
        <locationY>645</locationY>
        <assignmentItems>
            <assignToReference>oppToUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>opp</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>setOppFields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setOppFields</name>
        <label>setOppFields</label>
        <locationX>2393</locationX>
        <locationY>644</locationY>
        <assignmentItems>
            <assignToReference>oppToUpdate.TECH_IsSentToMidtier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oppToUpdate.TECH_ManualPush__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oppToUpdate.TECH_IsamsPushDateTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignopptolist</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>CBS</name>
        <dataType>String</dataType>
        <value>
            <stringValue>CBS</stringValue>
        </value>
    </constants>
    <constants>
        <name>Female</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Female</stringValue>
        </value>
    </constants>
    <constants>
        <description>Julliard Summer Arts record type</description>
        <name>JulliardSummerArts</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Juilliard Summer Arts</stringValue>
        </value>
    </constants>
    <constants>
        <name>Male</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Male</stringValue>
        </value>
    </constants>
    <decisions>
        <name>checkGender</name>
        <label>checkGender</label>
        <locationX>1879</locationX>
        <locationY>648</locationY>
        <defaultConnector>
            <targetReference>setOpp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>blankGender</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>opp.Child_Gender__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>opp.Child_Gender__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setBlankGender</targetReference>
            </connector>
            <label>blankGender</label>
        </rules>
        <rules>
            <name>incorrectValueGender</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>opp.Child_Gender__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Female</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>opp.Child_Gender__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Male</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setIncorrectValueGender</targetReference>
            </connector>
            <label>incorrectValueGender</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkSchool</name>
        <label>checkSchool</label>
        <locationX>1434</locationX>
        <locationY>245</locationY>
        <defaultConnector>
            <targetReference>IsamsPushUnavailable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>IsamsPush</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isampush</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getOpportunities</targetReference>
            </connector>
            <label>IsamsPush</label>
        </rules>
    </decisions>
    <decisions>
        <description>Case00001908: Check if the School is Beau Soleil, only Summer Camp opportunities should be pushed</description>
        <name>checkSummerCamp</name>
        <label>checkSummerCamp</label>
        <locationX>1880</locationX>
        <locationY>463</locationY>
        <defaultConnector>
            <targetReference>Loop_in_opp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isBeauSoleilANDSummerCamp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SchoolCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CBS</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>opp.TECH_RecordTypeName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>JulliardSummerArts</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>checkGender</targetReference>
            </connector>
            <label>isBeauSoleilANDSummerCamp</label>
        </rules>
        <rules>
            <name>isNotSummerCamp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>opp.TECH_RecordTypeName__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>JulliardSummerArts</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>checkGender</targetReference>
            </connector>
            <label>isNotSummerCamp</label>
        </rules>
    </decisions>
    <decisions>
        <name>hasBlankGender</name>
        <label>hasBlankGender</label>
        <locationX>2186</locationX>
        <locationY>238</locationY>
        <defaultConnector>
            <targetReference>hasIncorrectGenderValue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>hasBlankGenderValue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isBlankGender</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ChildGenderIsBlank</targetReference>
            </connector>
            <label>hasBlankGenderValue</label>
        </rules>
    </decisions>
    <decisions>
        <name>hasFinancialCon_and_Fields</name>
        <label>hasFinancialCon and Fields</label>
        <locationX>1020</locationX>
        <locationY>252</locationY>
        <defaultConnector>
            <targetReference>getSchoolCode</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>no_financial_contact_and_fields</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>hasFinancial</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RequiredFieldsMissing</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>errScr</targetReference>
            </connector>
            <label>no financial contact and fields</label>
        </rules>
    </decisions>
    <decisions>
        <name>hasIncorrectGenderValue</name>
        <label>hasIncorrectGenderValue</label>
        <locationX>2391</locationX>
        <locationY>239</locationY>
        <defaultConnector>
            <targetReference>updateOpp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>incorrectGenderValue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isIncorrectValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ChildGenderIsIncorrect</targetReference>
            </connector>
            <label>incorrectGenderValue</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsFinancialContact</name>
        <label>IsFinancialContact</label>
        <locationX>785</locationX>
        <locationY>562</locationY>
        <defaultConnector>
            <targetReference>loopInParentContacts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>hasBlankNatureOfRelationship</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccCon.TECH_checkRequiredFields__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setBlankNatureOfRelationship</targetReference>
            </connector>
            <label>hasBlankNatureOfRelationship</label>
        </rules>
        <rules>
            <name>FinancialContact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccCon.isFinancialContact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setHasFinancialContact</targetReference>
            </connector>
            <label>IsFinancialContact</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsParentContactValid</name>
        <label>IsParentContactValid</label>
        <locationX>368</locationX>
        <locationY>938</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Required_Fields_blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccCon.TECH_checkRequiredFields__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccCon.TECH_ContactRecordtype__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Parent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ReqFieldsMissing</targetReference>
            </connector>
            <label>Required Fields blank</label>
        </rules>
    </decisions>
    <description>With Summer Camp check</description>
    <interviewLabel>UpdateOpp {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ManualPushFromOpp</label>
    <loops>
        <name>Loop_in_opp</name>
        <label>Loop in opp</label>
        <locationX>1883</locationX>
        <locationY>240</locationY>
        <assignNextValueToReference>opp</assignNextValueToReference>
        <collectionReference>lstopportunities</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>checkSummerCamp</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>hasBlankGender</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopInParentContacts</name>
        <label>loopInParentContacts</label>
        <locationX>787</locationX>
        <locationY>244</locationY>
        <assignNextValueToReference>AccCon</assignNextValueToReference>
        <collectionReference>lstAccountConRel</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>IsFinancialContact</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>hasFinancialCon_and_Fields</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getAccount</name>
        <label>getAccount</label>
        <locationX>350</locationX>
        <locationY>244</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getParentContacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccID</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>SchoolId</assignToReference>
            <field>SchoolOfInterest__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getOpp</name>
        <label>Get Opportunity</label>
        <locationX>154</locationX>
        <locationY>244</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>AccID</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>oppName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>IsSentToMidtier</assignToReference>
            <field>TECH_IsSentToMidtier__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ManualPush</assignToReference>
            <field>TECH_ManualPush__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getOpportunities</name>
        <label>getOpportunities</label>
        <locationX>1669</locationX>
        <locationY>240</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_in_opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccID</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>lstopportunities</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>TECH_RecordTypeName__c</queriedFields>
        <queriedFields>Child_Gender__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getParentContacts</name>
        <label>getParentContacts</label>
        <locationX>572</locationX>
        <locationY>244</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopInParentContacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccID</elementReference>
            </value>
        </filters>
        <object>AccountContactRelation</object>
        <outputReference>lstAccountConRel</outputReference>
        <queriedFields>isFinancialContact__c</queriedFields>
        <queriedFields>TECH_checkRequiredFields__c</queriedFields>
        <queriedFields>TECH_ContactRecordtype__c</queriedFields>
        <queriedFields>TECH_RequiredFieldsError__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getSchoolCode</name>
        <label>getSchoolCode</label>
        <locationX>1260</locationX>
        <locationY>244</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkSchool</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SchoolId</elementReference>
            </value>
        </filters>
        <object>School__c</object>
        <outputAssignments>
            <assignToReference>isampush</assignToReference>
            <field>AvailableForIsamsPush__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SchoolCode</assignToReference>
            <field>SchoolCode__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>updateOpp</name>
        <label>updateOpp</label>
        <locationX>2609</locationX>
        <locationY>237</locationY>
        <connector>
            <targetReference>RecordUpdated</targetReference>
        </connector>
        <faultConnector>
            <targetReference>UnableUpdateRecord</targetReference>
        </faultConnector>
        <inputReference>lstopptoupdate</inputReference>
    </recordUpdates>
    <screens>
        <name>ChildGenderIsBlank</name>
        <label>ChildGenderIsBlank</label>
        <locationX>2194</locationX>
        <locationY>32</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>txtBlankGender</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;One or more of the Child are missing a Gender. Please update this and re-push the record.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ChildGenderIsIncorrect</name>
        <label>ChildGenderIsIncorrect</label>
        <locationX>2394</locationX>
        <locationY>21</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>IncorrectValueText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;One or more Child have an incorrect Gender value. Please update this to &quot;Male&quot; or &quot;Female&quot; and re-push the record.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>errScr</name>
        <label>errScr</label>
        <locationX>1022</locationX>
        <locationY>57</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrMsg2</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;{!MSG2}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>IsamsPushUnavailable</name>
        <label>IsamsPushUnavailable</label>
        <locationX>1449</locationX>
        <locationY>52</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>txtIsamsUnavailable</name>
            <fieldText>Isams Push Unavailable</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>RecordUpdated</name>
        <label>Record Updated</label>
        <locationX>2831</locationX>
        <locationY>237</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>RecordUpdatedMsg</name>
            <fieldText>Submitted.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>UnableUpdateRecord</name>
        <label>Unable to Update Record</label>
        <locationX>2608</locationX>
        <locationY>22</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>error</name>
            <fieldText>Update Unsucessful: 
{!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>6</locationX>
        <locationY>244</locationY>
        <connector>
            <targetReference>getOpp</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>NewLine</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;br/&gt;</text>
    </textTemplates>
    <variables>
        <name>AccCon</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountContactRelation</objectType>
    </variables>
    <variables>
        <name>AccID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>hasFinancial</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>isampush</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isBlankGender</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>isIncorrectValue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>IsSentToMidtier</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>lstAccountConRel</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountContactRelation</objectType>
    </variables>
    <variables>
        <name>lstopportunities</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>lstopptoupdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>ManualPush</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>MSG1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MSG2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>No financial contact found</stringValue>
        </value>
    </variables>
    <variables>
        <name>opp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>oppName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>oppToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RequiredFieldsMissing</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>SchoolCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SchoolId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
